* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.top_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.scss {
  position: relative;
  color: red;
  z-index: 5;
  left: 2rem;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5px;
  z-index: 3;
  margin-right: 1rem;
  width: 30px;
  height: 30px;
}

.burger :first-child,
.burger :nth-child(2) {
  width: 28px;
  height: 3px;
  background-color: #ff652f;
}

.burger :nth-child(3) {
  width: 20px;
  height: 3px;
  background-color: #ff652f;
}

.burger .open:first-child {
  display: none;
}

.burger .open:nth-child(2) {
  -webkit-transform: rotate(45deg) translate(3px, 3px);
          transform: rotate(45deg) translate(3px, 3px);
  background-color: red;
}

.burger .open:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(3px, -1px);
          transform: rotate(-45deg) translate(3px, -1px);
  background-color: black;
  width: 28px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: gainsboro;
  opacity: 0.9;
  display: none;
  z-index: 2;
}

.navbar.open {
  display: block;
}

.navbar .bar {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar .bar.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar .bar .item {
  font-size: 2rem;
  padding: 1rem;
  list-style: none;
  margin-top: 2rem;
  text-align: center;
}

.navbar .bar .item a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.home {
  height: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url(/image/model-1.jpg) center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(/image/model-1.jpg) center top;
  background-size: cover;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.main__container__h1 {
  font-weight: 500;
}

.main__container__body {
  width: 80%;
  text-align: center;
  font-weight: 500;
}

.main__container__name {
  font-size: 3em;
  font-weight: 700;
}

.main__container__hr {
  width: 100vw;
  height: 2px;
  border-bottom: 2px solid white;
}

.foeh {
  color: #ff652f;
}

.main__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__social-img {
  width: 40%;
  margin: 1rem;
}

.main__social a {
  font-size: 0;
  padding: 0%;
  margin: 0%;
}

.main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e4dede;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-foot {
  position: absolute;
  bottom: 0;
}

.copy {
  color: #ff652f;
  font-size: 1rem;
  font-weight: 700;
}

.top-about {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url(/image/model-1.jpg) center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(/image/model-1.jpg) center top;
  background-size: cover;
  position: relative;
  bottom: 4rem;
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.top-about-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-about h1 {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: #ff652f;
}

.top-about p {
  width: 80%;
  text-align: center;
}

.down-about {
  color: white;
  row-gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.work-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 5px;
  background-color: #383737;
  border-radius: 20px 10px 20px 10px;
  border-bottom: 5px solid #ff652f;
}

.work-exp h1,
.work-exp h2,
.work-exp h3,
.work-exp p {
  padding: 3px;
}

.work-exp h1 {
  color: #ff652f;
  font-weight: 400;
}

.abt-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: gray;
}

.abt-foot p {
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
  font-weight: 700;
}

.project {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

.top-project {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url(/image/model-1.jpg) center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(/image/model-1.jpg) center top;
  background-size: cover;
  position: relative;
  bottom: 4rem;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.top-project h1 {
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1rem;
  color: #ff652f;
}

.down-project {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.7rem;
}

.down-project .pro-work {
  position: relative;
  width: 70%;
  margin: 0 auto;
  border-bottom: 4px solid #ff652f;
}

.down-project .pro-work img {
  width: 100%;
}

.down-project .pro-work .projects__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 1px;
  width: 100%;
  opacity: 0;
  background-color: #ff652f;
}

.down-project .pro-work .projects__btn {
  text-decoration: none;
  color: black;
}

.down-project .pro-work .projects__btn:hover {
  color: white;
}

.down-project .pro-work .projects__btns:hover {
  opacity: 0.9;
}

.pro-foot {
  margin-top: 2rem;
  width: 100%;
}

@media (min-width: 800px) {
  .down-project {
    width: 80%;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .down-project .pro-work {
    margin: 0;
    width: 100%;
  }
}

.con {
  height: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url(/image/model-1.jpg) center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(/image/model-1.jpg) center top;
  background-size: cover;
}

.contact-info > * {
  margin-top: 1.5rem;
  color: #ff652f;
}

.contact-info h1,
.contact-info h2 {
  font-size: 2rem;
  color: blanchedalmond;
}

.contact-info p {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.con-foot {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: transparent;
}

.con-foot p {
  color: white;
  padding: 5px;
}

@media screen and (min-width: 700px) {
  .burger {
    display: none;
  }
  .scss {
    color: blue;
  }
  .navbar {
    display: block;
    position: absolute;
    background: transparent;
  }
  .navbar .bar {
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 1.5rem;
  }
  .item {
    display: inline;
    padding: 0;
    margin: 0;
  }
  .navbar .bar .item {
    background: rgba(0, 0, 0, 0.4);
    height: 10vh;
  }
  .navbar .bar .item a {
    color: white;
    font-weight: 400;
  }
  .navbar .bar .item a:hover {
    color: #ff652f;
  }
  .main__footer {
    width: 100%;
  }
  .about {
    width: 100%;
    overflow-x: hidden;
  }
  .top-about .top-about-bio {
    width: 70%;
  }
  .down-project {
    width: 80%;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .down-project .pro-work {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 1020px) {
  .top-about {
    height: 60vh;
  }
  .top-about-bio {
    width: 40%;
  }
  .work-exp {
    padding: 1.5rem;
  }
  .down-project {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .pro-foot {
    background: transparent;
  }
}

body {
  background: #272727;
  color: set-text-color(#272727);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

main {
  height: 100%;
  width: 100%;
}

.bar .item.active > a {
  color: #ff652f;
}
/*# sourceMappingURL=main.css.map */