.top_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.scss {
  position: relative;
  color: red;
  z-index: 5;
  left: 2rem;
}
// The burger icon
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  z-index: 3;
  margin-right: 1rem;
  width: 30px;
  height: 30px;

  & :first-child,
  :nth-child(2) {
    width: 28px;
    height: 3px;
    background-color: $secondary-color;
  }
  & :nth-child(3) {
    width: 20px;
    height: 3px;
    background-color: $secondary-color;
  }
}
// burger lines
.burger .open:first-child {
  // transform: rotate(-123deg) translate(3px, -7px);
  display: none;
}
.burger .open:nth-child(2) {
  transform: rotate(45deg) translate(3px, 3px);
  background-color: red;
}

.burger .open:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -1px);
  background-color: black;
  width: 28px;
}

// The navbar
.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: gainsboro;
  opacity: 0.9;
  // visibility: hidden;
  display: none;
  z-index: 2;
  &.open {
    // visibility: visible;
    display: block;
  }

  & .bar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    transform: translateY(-100%);
    &.open {
      transform: translateY(0);
    }
    & .item {
      font-size: 2rem;
      padding: 1rem;
      list-style: none;
      margin-top: 2rem;
      text-align: center;
      // transform: translateX(100vw);

      // &.open {
      //   transform: translateX(0);
      // }

      & a {
        text-decoration: none;
        color: black;
        font-weight: 900;
      }
    }
  }
}
