@import "config";
@import "header";
@import "home";
@import "about";
@import "project";
@import "contact";
@import "responsive";

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
main {
  height: 100%;
  width: 100%;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
